html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.alice-carousel__prev-btn {
  visibility: hidden;
}
.alice-carousel__prev-btn-item {
  visibility: hidden;
}
.alice-carousel__next-btn {
  visibility: hidden;
}
.alice-carousel__next-btn-item {
  visibility: hidden;
}
